
/*小角标 zjf20170614*/
.act_tab {display: inline-block;position: absolute;right: 0;top: 0;width: 86px;height: 30px;padding: 3px 0!important;background: url(../images/activity/tab20170614.png) no-repeat !important;z-index: 2;}
.act_tab span {color: #fff;margin-left: 26px !important;display: block !important;text-align: center;line-height: 1.2;font-size: 12px;}
.act_tab .act_tab_l  {}
.act_tab .act_tab_r {}

.act_piao_all {display: inline-block;padding: 0 11px;height: 26px;line-height: 26px;text-align: center;font-size: 14px;color: #fff;cursor: pointer;}
.piao_btn {background: #f00;}
.piao_btns {background: #ccc;}







