.PlayPage {background: #000;color:#999;min-width: 1000px;}
.PlayPagei.icon  {background: url(../images/icons.png) no-repeat;}
.PlayPagea {color: #999;}
.PlayPage a:hover  {color:#FFF;}
.PlayPage {min-width:1000px;position: absolute;left:0px;top:0;right: 0;bottom: 0;min-height: 450px;overflow: hidden;}
.Top{background: #0F0F0F;height: 28px;padding: 16px 10px;line-height: 28px;position: relative;z-index: 999;}
.Top h1 {max-width: 50%;font-size: 20px;color: #FFF;font-weight: normal;margin-right: 70px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.Top button {line-height: 1;padding: 0 30px;color: #FFF;background-color: #da291a;height: 28px;}

.PlayPage>.Content  {position: absolute;left: 0px;top: 65px;bottom: 0px;right: 0px;padding: 0;}
.Main {position:absolute;top: 0px;left: 0;right: 380px;bottom: 0;padding-bottom:65px;}
.Main .videoInfos {position: absolute;left: 0;right: 5px;bottom:0;height: 28px;padding: 16px 0px 16px 10px;border-top:1px solid #333;line-height: 28px;}
.Main .videoInfos>div {line-height: 26px;position: relative;padding: 0 20px;margin-right: 20px;cursor: default;}
.Main .videoInfos>div:last-child  {margin-right: 0;}
.Main .videoInfos>div.fr  {border:none;line-height: 28px;}
.Main .videoInfos>div:hover span  {color:#FFF;}
.Main .videoInfos>div .main {position: absolute;bottom:25px;left: 0;display: none;padding-bottom: 10px;line-height: 1.5;}
.Main .videoInfos>div:hover .main {display: block;}
.Main .videoInfos>div .main .con  {background: #FFF;padding: 10px;white-space: nowrap;}
.Main .videoInfos>div .main .con img.qrcode {width: 90px;height: 90px;}
.Main .videoInfos>div .main p {white-space:nowrap;}
.Main .videoInfos>div .main p a:hover  {color: #000;}


.Tools  {position:absolute;top: 0px;right: 0px;bottom: 0;width: 380px;background-color: #0F0F0F;}
.Tools dt {padding: 20px 10px;line-height: 20px;overflow: hidden;text-align: center;border-bottom: 1px solid #222;}
.Tools dt p {float: left;width: 120px;font-size: 16px;cursor: pointer;}
.Tools dt p.center  {margin: 0 -1px;border:1px solid #222;border-top: 0;border-bottom: 0;}
.Tools dt p.cur,.Tools dt p:hover {color: #DDD;}
.Tools dd   {position: absolute;top:61px;right: 0;left: 0;bottom: 0;}

.lessonList {line-height: 1.2;height: 100%;}
.lessonList li  {padding: 0 15px;}
.lessonList li>a  {display: block;overflow: hidden;}
.lessonList li.cur a  {color: #FFF;}
.lessonList .chaper,.listTitle {background: #171717;margin: 10px 0;}
.lessonList .chaper:first-child {margin-top: 0;}
.lessonList li i,.lessonList li span.num  {width: 20px;height: 21px;display: block;margin-top: 8px;line-height: 20px;float: left;margin-right: 10px;}
.lessonList li span.num {width: auto;}
.lessonList li.exam i  {background-position: -300px -150px;}
.lessonList li.page i  {background-position: -300px -200px;}
.lessonList li:hover.exam i  {background-position: -300px -300px;}
.lessonList li:hover.page i  {background-position: -300px -350px;}
.lessonList li p  {max-width: 225px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}

.Tools textarea {width: 340px;padding: 4px;border:1px solid #222;background: #000;height: 70px;color:#FFF;font-size: 14px;}
.Tools button {height: 30px;width: 80px;line-height: 1;padding: 0}

.tabsCon .mask {position: absolute;background: url(../images/bg80.png);}
.tabsCon .mask.show {display: block;}
.tabsCon .sendLoading {width: 24px;height: 30px;background: url(../images/loadinfo.net.gif) no-repeat center;display: none;}
.getMote  {line-height: 30px;background: #666;text-align: center;cursor: pointer;color:#DDD;display: none;}
.getMote:hover  {background: #999;color:#FFF;}
.loadingMore  {width: 100%;height: 40px;background: url(../images/lesson_loading.gif) no-repeat center top;padding-top: 40px;}
.noMore {padding: 30px 0;text-align: center;color: #333;}
.success  {position: absolute;top:50%;left: 50%;width: 200px;line-height: 50px;margin-top: -25px;margin-left:-100px;border-radius: 5px;background: #000;color:#FFF;z-index: 50001;text-align: center;display: none;}
.tabsCon .notPay {text-align: center;z-index: 50002;position: absolute;width: 100%;left: 0;top: 100px;color: #DDD;}
.tabsCon .notPay button,button.buyThisClass {color: #FFF;background-color: #da291a;}

.f40  {font-size: 48px;}
.f32  {font-size: 32px;margin-top: 15px;margin-left: 5px;}

#v_content.show .tool_middle_bar span {background: url(../images/bar.png) no-repeat;}
#v_content.show #v_right {width: 0;}
#v_content.show #v_left {right: 0;}
#v_content.show #v_middle {right: 0;}

/*video*/
.video-js .vjs-big-play-button{
    top:45%;
    left: 45%;
}