body {
    background: #f0f0f0;
    min-height: 100vh;
}


/*----------支付页面--------------*/

.pay-red {
    color: #ff4d00;
}

.pay-grey {
    color: #999999;
}

.pay-user {
    margin: 1rem auto;
    padding: 0.2rem 1rem;
    background: #fcf9f2;
    line-height: 3;
}

.pay-title {
    line-height: 3;
    font-size: 1.6rem;
}

.pay-info {
    border: 1px solid #eee;
    line-height: 3;
    text-align: center;
    vertical-align: middle;
}

.pay-info th {
    color: #a49999;
    border-top: 0 !important;
    text-align: center;
}

.pay-info td {
    border-top: 0 !important;
    line-height: 6 !important;
}

.pay-total span {
    font-size: 2rem;
    font-weight: bold;
    line-height: 3;
}

.pay-qrcode .img-thumbnail {
    border-radius: 0;
}

.pay-qrcode p {
    line-height: 3;
    padding-right: 0.4rem;
    color: #b6b6b6;
}

.pay-qrcode p img {
    width: 1.8rem;
}

.pay-qrcode .code {
    display: inline-block;
    padding: 0.68rem;
    background: url(../img/qr-top.png) top left no-repeat, url(../img/qr-top2.png) top right no-repeat, url(../img/qr-bottom.png) bottom left no-repeat, url(../img/qr-bottom2.png) bottom right no-repeat;
}

.pay-guide img {
    padding-top: 2rem;
}


/*----------订单页面--------------*/

.order-main {
    background: #fff;
    min-height: 100vh;
}

.order-orange {
    color: #ffc43a;
}

.order-gray {
    color: #b2b2b2;
}

.order-title {
    font-size: 1.6rem;
    padding-top: 2rem;
    line-height: 3;
}

.order-title span {
    padding-right: 1rem;
    border-right: 2px solid #a49999;
}

.order-title em {
    padding-left: 1rem;
    font-style: normal;
    font-size: 1.4rem;
}

.order-head {
    background: #f3f3f3;
    color: #919191;
    font-weight: normal;
}

.order-head .table {
    margin-bottom: 0;
}

.order-head .table th {
    border: 0;
}

th,
td {
    width: 10%;
    /*padding: 0 1rem;*/
}

table.cart tbody .selling-price:before,
table.cart tbody .subtotal:before,
table.cart tbody .price-total:before {
    content: "￥"
}

.cart-wrap tr {
    padding: 0 2rem !important;
}

.cart-wrap th,
.cart-wrap td {
    font-weight: normal;
    padding: 1.2rem 1rem 1.2rem 0 !important;
    border-bottom: 0 !important;
    border-top: 1px solid #f0f0f0 !important;
}

.cart-wrap th {
    border-top: 1.5px solid #ddd !important;
}

.cart-wrap tr:first-child th {
    border-top: 0 !important;
}

.cart-wrap .order-add {
    /*border-bottom: 0px;*/
}

.cart-wrap .order-add {
    width: 3%;
    border: 0 !important;
}

.cart-wrap .order-add-th {
    width: 15%;
    padding-left: 15px !important;
}

.cart-wrap .goods-th {
    width: 40%;
}

.table>tbody>tr>th {
    vertical-align: middle;
}

.cart-wrap .goods-img {
    width: 14%;
    overflow: hidden;
}

.cart-wrap .goods-info {
    width: 38%;
    vertical-align: middle;
}

.goods-info h5 {
    font-size: 1.6rem;
}

.cart-wrap .selling-price,
.cart-wrap .goods-sum,
.cart-wrap .subtotal {
    width: 10%;
    line-height: 2;
}

.cart-wrap .subtotal {
    /*text-align: center;*/
}

.cart-wrap .action {
    width: 15%;
    line-height: 2;
}

.cart-wrap .goods-num {
    width: 10%;
    line-height: 2;
}

.cart {
    border-bottom: 1px solid #eee;
}

.cart-wrap:last-child {
    border-bottom: 0 !important;
}

.input-group {
    margin: 0 auto;
    width: 100%;
}

.order-foot {
    z-index: 100;
    height: 4rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    /*padding: 1rem 0;*/
    -moz-box-shadow: 2px -1px 1px #eee;
    -o-box-shadow: 2px -1px 1px #eee;
    -webkit-box-shadow: 2px -1px 1px #eee;
    box-shadow: 2px -1px 1px #eee;
}

.pay-btn {
    display: inline-block;
    background: #ffc43a;
    color: #fff;
    width: 6rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}

.input-group-addon:last-child,
.input-group-addon:first-child {
    background: #fff;
}

.check {
    display: none;
}

.checkbox {
    margin: 0;
    position: relative;
}

.checkbox label,
.radio label {
    padding-left: 0;
}

.checkbox span {
    display: inline-block;
    /*line-height: 2rem;*/
}

.checkbox .check-icon {
    margin-right: 1rem;
    display: inline-block;
    text-align: center;
    line-height: 1.8rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background: #fff;
    position: relative;
    border: 1px solid #ffc43a;
}

.checkbox .text-tag {
    display: block;
    position: absolute;
    left: 2.6rem;
    top: 0;
}

.check:checked+.check-icon {
    background: #ffc43a;
}

.checkbox .check-icon:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0.4rem;
    ;
    color: #fff;
}

.goods-type {
    position: absolute;
    top: 0;
    left: 2.4rem;
    display: inline-block;
    padding: 0.26rem 0.8rem;
    background: #ffc43a;
    color: #fff;
}

.order-discount {
    padding: 1rem;
}

.order-discount th {
    padding: 1rem 1rem !important;
    /*border-bottom: 0;*/
    font-weight: normal;
}

.order-discount a {
    color: #444;
}

.discount-tag {
    display: inline-block;
    padding: 0.1rem 0.4rem;
    border: 2px solid #ffc43a;
    color: #ffc43a;
    margin-bottom: 0.2rem;
    margin-right: 1rem;
    position: relative;
}

.discount-tag:after {
    content: '';
    position: absolute;
    left: -1px;
    bottom: -2.6rem;
    /*background: #000;*/
    height: 2.2rem;
    border: 1px dotted #eee;
}

.order-foot .checkbox {
    padding-left: 8rem;
    line-height: 4rem;
    position: relative;
}

.order-foot .check-icon {
    position: absolute;
    top: 1rem;
    left: 3rem;
}

.bottom-check .text-tag {
    left: 5.2rem;
}

.order-foot .delete-all {
    margin-left: 1.4rem;
}

.price-total {
    display: inline-block;
    font-size: 2rem;
}


/*------我的订单-------*/

.deal-gray {
    color: #7a7a7a;
}

.deal-main {
    background: #fff;
    min-height: 100vh;
}

.deal-main a {
    color: inherit;
}

.deal-main .types {
    padding: 1rem 0;
    font-size: 1.6rem;
}

.deal-main .types span {
    cursor: pointer;
    display: inline-block;
    padding: 0 1rem;
    margin: 0 0.4rem 0 0;
}

.deal-main .types span:first-child {
    border-right: 1.6px solid #b6b6b6;
}

.deal-main .deal-active {
    color: #ffc43a;
    font-size: 1.8rem;
}

.deal-one {
    margin: 1.4rem 0.5rem;
    border: 1px solid #eee;
    border-radius: 0.3rem;
}

.deal-one table {
    margin: 0 1rem;
    text-align: center;
}

.deal-info:hover {
    background: #f8f7f7;
}

.deal-head {
    background: #f1f1f1;
    padding: 1rem;
    font-weight: bold;
    line-height: 2;
}

.deal-head span {
    display: inline-block;
}

.deal-head .date {
    width: 42%;
}

.deal-head .date em {
    font-style: normal;
    margin-left: 3rem;
}

.deal-head .server {
    width: 10%;
    text-align: center;
}

.deal-head .contact {
    width: 44%;
    text-align: right;
}

.deal-one td {
    padding: 1.2rem 0;
    vertical-align: top;
}

.deal-one td h5,
.deal-one td p {
    margin-top: 1rem;
}

.deal-one td.border-left {
    border-left: 1px solid #f1f1f1;
    text-align: center;
}

.deal-info .title {
    padding: 1.2rem 2rem 0 1rem;
    width: 24%;
}

.deal-info .origin-price {
    text-decoration: line-through;
}

.protect-icon {
    background: url(../img/protect.png) no-repeat center;
    background-size: auto 1.4rem;
    display: inline-block;
    width: 5rem;
    height: 2rem;
}