page-chart {
	.side-menu {
		border-right: 1px solid #000;
	}
	.chart-box{
		background: #ddd;
	}

	// 图表
	#chart {
        position: absolute;
        width: 60vw;
		height: 60vh;
		background: rgba(0, 0, 0, 0.5)
    }
}
